<p style="color: green"><%= notice %></p>

<% content_for :title, "User matches" %>

<h1>User matches</h1>

<div id="user_matches">
  <% @user_matches.each do |user_match| %>
    <%= render user_match %>
    <p>
      <%= link_to "Show this user match", user_match %>
    </p>
  <% end %>
</div>

<%= link_to "New user match", new_user_match_path %>
