<div id="<%= dom_id match %>">
  <p>
    <strong>Match number:</strong>
    <%= match.match_number %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= match.start_time %>
  </p>

  <p>
    <strong>Endtime:</strong>
    <%= match.endtime %>
  </p>

</div>
