<h1>Admin Panel</h1>
<nav>
  <ul>
    <li><%= link_to "Dashboard", admin_dashboard_path %></li>
    <li><%= link_to "Users", admin_users_path %></li>
    <li><%= link_to "Products", admin_products_path %></li>
    <%# 他の管理メニューを追加 %>
    <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li> <%# Deviseを使用している場合 %>
  </ul>
</nav>
